.page__header, .page__content, .page__section {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1180px;
  box-sizing: border-box;
}

.page {
  font-family: 'Ubuntu', sans-serif;
}

.page__header {
  padding-top: 30px;
}

.page__content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page__section {
  border-top: 1px solid rgba(161, 161, 161, 0.5);
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-weight: 700;
}

.button {
  background-color: #5528FF;
  font-weight: 700;
  color: #fff;
  border: none;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: start;
  align-items: center;
}

.menu__item {
  padding-left: 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #202020;
}

.menu__item-button {
  border-radius: 5px;
  padding: 5px 15px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo__img {
  display: block;
  width: 58px;
  height: 58px;
  background-image: url(../img/logo.svg);
  margin-right: 15px;
}

.logo__text {
  font-size: 24px;
  color: #222020;
}

.start {
  display: block;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.start__title {
  font-size: 55px;
  font-weight: 700;
  color: black;
}

.start__text {
  font-size: 32px;
  line-height: 1,5;
  color: cornflowerblue;
}

.start__button {
  border-radius: 10px;
  font-size: 24px;
  padding: 15px 45px;
}

.start__audio {
  margin-top: 30px;
  border-radius: 10px;
  background-color: #5528FF;
}

.start__progress {
  margin-top: 3px;
  background-color: black;
}

.section__title {
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  background-color: #fff;
  padding: 5px 15px;
  top: -25px;
  color: #B2B2B2;
}

.services {
  display: grid;
  grid-template: 50% 50% / 50% 50%;
}

.services__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 50px;
}

.services__item:nth-child(even) {
  grid-column: 2;
}

.service__icon {
  grid-column: 1;
}

.service__title {
  grid-column: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 400;
  color: black;
}

.service__desc {
  grid-column: 2;
  color: #B2B2B2;
  font-size: 14px;
  line-height: 16px;
  max-width: 292px;
}
